<template>
  <div>
    <q-page v-if="file.length === 0" class="flex flex-center">
      <div>
        <div class="column items-center justify-center">
          <q-icon style="font-size: 4rem" name="storage" />
          <div class="q-mt-sm">There is noting to show</div>
          <div class="q-pa-md q-gutter-sm">
            <q-btn
              label="create directory"
              style="width: 200px"
              color="dark"
              @click="alert = true"
            />

            <q-dialog v-model="alert">
              <q-card style="width: 350px; height: 200px">
                <q-card-section>
                  <div class="text-h6">create Directory</div>
                </q-card-section>
                <q-form>
                  <q-card-section class="q-pt-none">
                    <q-input filled label="title" v-model="title" />
                  </q-card-section>

                  <q-card-actions>
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6">
                        <q-btn
                          v-close-popup
                          class="q-ml-sm"
                          style="width: 160px"
                          label="cancel"
                          color="dark"
                        />
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6">
                        <q-btn
                          @click="changeForm"
                          class="q-ml-sm"
                          style="width: 160px"
                          label="create"
                          color="dark"
                        />
                      </div>
                    </div>
                  </q-card-actions>
                </q-form>
              </q-card>
            </q-dialog>
          </div>
        </div>
      </div>
    </q-page>
    <div v-else>
      <div class="q-pa-md">
        <div class="q-gutter-md" style="max-width: 300px">
          <q-menu icon="folder-open">
            <q-list>
              <q-item clickable v-close-popup>
                <q-item-section>
                  <q-item-label>open</q-item-label>
                </q-item-section>
              </q-item>

              <q-item clickable v-close-popup>
                <q-item-section>
                  <q-item-label @click="modalDelete = true"
                    >delete</q-item-label
                  >
                  <q-dialog v-model="modalDelete">
                    <q-card style="width: 350px; height: 200px">
                      <q-card-section>
                        <div class="text-h6">delete Directory</div>
                      </q-card-section>
                      <q-form>
                        <q-card-section class="q-pt-none">
                          <div class="text-h6">
                            are you sure you want to delete Books Directory?
                          </div>
                        </q-card-section>

                        <q-card-actions>
                          <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                              <q-btn
                                v-close-popup
                                class="q-ml-sm"
                                style="width: 160px"
                                label="cancel"
                                color="dark"
                              />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                              <q-btn
                                @click="deleteForm"
                                class="q-ml-sm"
                                style="width: 160px"
                                label="delete"
                                color="dark"
                              />
                            </div>
                          </div>
                        </q-card-actions>
                      </q-form>
                    </q-card>
                  </q-dialog>
                </q-item-section>
              </q-item>
            </q-list>
          </q-menu>

          <q-icon name="folder_open" style="font-size: 2.5rem" />
          <q-icon name="folder_open" style="font-size: 2.5rem" />
          <q-icon name="folder_open" style="font-size: 2.5rem" />

          <q-icon @click="modal = true" name="add" style="font-size: 2.5rem">
            <q-dialog v-model="modal">
              <q-card style="width: 350px; height: 200px">
                <q-card-section>
                  <div class="text-h6">create Directory</div>
                </q-card-section>
                <q-form>
                  <q-card-section class="q-pt-none">
                    <q-input filled label="title" v-model="title" />
                  </q-card-section>

                  <q-card-actions>
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6">
                        <q-btn
                          v-close-popup
                          class="q-ml-sm"
                          style="width: 160px"
                          label="cancel"
                          color="dark"
                        />
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6">
                        <q-btn
                          @click="changeForm"
                          class="q-ml-sm"
                          style="width: 160px"
                          label="create"
                          color="dark"
                        />
                      </div>
                    </div>
                  </q-card-actions>
                </q-form>
              </q-card>
            </q-dialog>
          </q-icon>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useStore } from "vuex";
import { ref, computed } from "vue";
const alert = ref(false);
const store = useStore();

const modal = ref(false);
const modalDelete = ref(false);
const file = computed(() => store.state.File.file);
const title = ref("");
function changeForm() {
  store.dispatch("File/fetchfile", title.value);
}
function deleteForm() {
  store.dispatch("File/fetchfile", title.value);
}
</script>
