<template>
  <q-layout>
    <q-page-container>
      <q-page class="flex flex-center">
        <q-card
          v-bind:style="$q.screen.lt.sm ? { width: '80%' } : { width: '30%' }"
        >
          <q-card-section>
            <div class="text-center">
              <div class="col q-mt-lg text-h6 ellipsis">
                try the product out of free
              </div>
            </div>
          </q-card-section>

          <q-card-section>
            <q-form class="q-gutter-md">
              <q-input
                filled
                v-model="user.email"
                label="email"
                :rules="[(val) => !!val || 'ایمیل راوارد کنید']"
                lazy-rules
              />

              <q-input
                type="password"
                filled
                v-model="user.password"
                label="Password"
                :rules="[(val) => !!val || 'پسورد راواردکنید']"
                lazy-rules
              />

              <div>
                <q-btn
                  @click.prevent="signup"
                  class="full-width"
                  label="register/login"
                  type="button"
                  color="dark"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-page>
    </q-page-container>
  </q-layout>
</template>
  <script setup>
import { ref } from "vue";
import { useStore } from "vuex";
const store = useStore();
const user = ref({
  email: "",
  password: "",
});
function signup() {
  store.dispatch("Login/fetchUsers", user.value);
}
</script>
  <style>
</style>